<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Angular 8</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/get">get</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/forms">forms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/observable">observable</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/users"
          >Parameterized-Routing</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Beginner
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/beginner-level/basics"
            >Basics</a
          >
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
<footer>
    <p>Company © idontknowjavascript. All rights reserved.</p>
    <p>Contact information: <a href="mailto:sharma.h2110@gmail.com">
    sharma.h2110@gmail.com</a>.</p>
  <p></p>
</footer>
